<a href="https://colab.research.google.com/github/obaniah/Assignment-4-CS-4783-5783---oday-bani-ahmad/blob/main/Q3_Assignment_4_CS_4783_5783_Oday_Bani_Ahmad_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q3

In [134]:
import numpy as np 
import pandas as pd 	
import matplotlib.pyplot as plt 
import math
import os
import numpy.matlib 
import seaborn as sns
import random

In [135]:
data = pd.read_csv('Train_Asssignment4_Data.csv')
data

,House ID,Local Price,Bathrooms,Land Area,Living area,# Garages,# Rooms,# Bedrooms,Age of home,Construction type
0,1,4.9176,1.0,3.4720,0.998,1.0,7,4,42,Apartment
1,2,5.0208,1.0,3.5310,1.500,2.0,7,4,62,House
2,3,4.5429,1.0,2.2750,1.175,1.0,6,3,40,Condo
3,4,4.5573,1.0,4.0500,1.232,1.0,6,3,54,Apartment
4,5,5.0597,1.0,4.4550,1.121,1.0,6,3,42,Apartment
5,6,3.8910,1.0,4.4550,0.988,1.0,6,3,56,Condo
6,7,5.8980,1.0,5.8500,1.240,1.0,7,3,51,Condo
7,8,5.6039,1.0,9.5200,1.501,0.0,6,3,32,House
8,9,16.4202,2.5,9.8000,3.420,2.0,10,5,42,Condo
9,10,14.4598,2.5,12.8000,3.000,2.0,9,5,14,Apartment
10,11,5.8282,1.0,6.4350,1.225,2.0,6,3,32,House
11,12,5.3003,1.0,4.9883,1.552,1.0,6,3,30,House
12,13,6.2712,1.0,5.5200,0.975,1.0,5,2,30,House
13,14,5.9592,1.0,6.6660,1.121,2.0,6,3,32,Condo
14,15,5.0500,1.0,5.0000,1.020,0.0,5,2,46,Apartment
15,16,5.6039,1.0,9.5200,1.501,0.0,6,3,32,House
16,17,8.2464,1.5,5.1500,1.664,2.0,8,4,50,Apartment
17,18,6.6969,1.5,6.9020,1.488,1.5,7,3,22,House
18,19,7.7841,1.5,7.1020,1.376,1.0,6,3,17,Condo
19,20,9.0384,1.0,7.8000,1.500,1.5,7,3,23,Apartment

In [136]:
test_data = pd.read_csv('Test_Asssignment4_Data.csv')
test_data

,House ID,Local Price,Bathrooms,Land Area,Living area,# Garages,# Rooms,# Bedrooms,Age of home,Construction type
0,24,6.0931,1.5,6.7265,1.652,1.0,6,3,44,Apartment
1,25,8.3607,1.5,9.1500,1.777,2.0,8,4,48,House
2,26,8.1400,1.0,8.0000,1.504,2.0,7,3,3,House
3,27,9.1416,1.5,7.3262,1.831,1.5,8,4,31,Apartment
4,28,12.0000,1.5,5.0000,1.200,2.0,6,3,30,Apartment

In [137]:
#randomize initial centroids
def randomize_centroids(data, centroids, k):
    for cluster in range(0, k):
      centroids.append(data[np.random.randint(0, len(data), size=1)].flatten().tolist())
    return centroids

In [138]:

# kmeans clustering algorithm
# data = set of data points
# k = number of clusters
# c = initial list of centroids (if provided)
#
def kmeans(data, k, c):
  centroids = []
  centroids = randomize_centroids(data, centroids, k)

  old_centroids = [[] for i in range(k)]

  iterations = 0
  while not (has_converged(centroids, old_centroids, iterations)):
    iterations += 1
    
  clusters = [[] for i in range(k)]
  # assign data points to clusters
  clusters = euclidean_dist(data, centroids, clusters)
  # recalculate centroids
  index = 0
  for cluster in clusters:
    old_centroids[index] = centroids[index]
    centroids[index] = np.mean(cluster, axis=0).tolist()
    index += 1


  print("The total number of data instances is: " + str(len(data)))
  print("The total number of iterations necessary is: " + str(iterations))
  print("The means of each cluster are: " + str(centroids))
  print("The clusters are as follows:")
  for cluster in clusters:
    print("Cluster with a size of " + str(len(cluster)) + " starts here:")
    print(np.array(cluster).tolist())
    print("Cluster ends here.")

  return

In [139]:

# Calculates euclidean distance between
# a data point and all the available cluster
# centroids. 
def euclidean_dist(data, centroids, clusters):
  for instance in data: 
    # Find which centroid is the closest
    # to the given data point.
    mu_index = min([(i[0], np.linalg.norm(instance-centroids[i[0]])) \
  for i in enumerate(centroids)], key=lambda t:t[1])[0]
  try:
    clusters[mu_index].append(instance)
  except KeyError:
    clusters[mu_index] = [instance]

  # If any cluster is empty then assign one point
  # from data set randomly so as to not have empty
  # clusters and 0 means. 
  for cluster in clusters:
    if not cluster:
      cluster.append(data[np.random.randint(0, len(data), size=1)].flatten().tolist())

  return clusters

In [140]:

 # randomize initial centroids
def randomize_centroids(data, centroids, k):
    for cluster in range(0, k):
      centroids.append(data[np.random.randint(0, len(data), size=1)].flatten().tolist())
    return centroids


# check if clusters have converged 
def has_converged(centroids, old_centroids, iterations):
  MAX_ITERATIONS = 1000
  if iterations > MAX_ITERATIONS:
    return True
    
    return old_centroids == centroids

In [142]:
x = data.iloc[ :, :9]
x = x.values
x

array([[ 1.    ,  4.9176,  1.    ,  3.472 ,  0.998 ,  1.    ,  7.    ,
         4.    , 42.    ],
       [ 2.    ,  5.0208,  1.    ,  3.531 ,  1.5   ,  2.    ,  7.    ,
         4.    , 62.    ],
       [ 3.    ,  4.5429,  1.    ,  2.275 ,  1.175 ,  1.    ,  6.    ,
         3.    , 40.    ],
       [ 4.    ,  4.5573,  1.    ,  4.05  ,  1.232 ,  1.    ,  6.    ,
         3.    , 54.    ],
       [ 5.    ,  5.0597,  1.    ,  4.455 ,  1.121 ,  1.    ,  6.    ,
         3.    , 42.    ],
       [ 6.    ,  3.891 ,  1.    ,  4.455 ,  0.988 ,  1.    ,  6.    ,
         3.    , 56.    ],
       [ 7.    ,  5.898 ,  1.    ,  5.85  ,  1.24  ,  1.    ,  7.    ,
         3.    , 51.    ],
       [ 8.    ,  5.6039,  1.    ,  9.52  ,  1.501 ,  0.    ,  6.    ,
         3.    , 32.    ],
       [ 9.    , 16.4202,  2.5   ,  9.8   ,  3.42  ,  2.    , 10.    ,
         5.    , 42.    ],
       [10.    , 14.4598,  2.5   , 12.8   ,  3.    ,  2.    ,  9.    ,
         5.    , 14.    ],
       [11.    ,  5.8282,  1.    ,  6.435 ,  1.225 ,  2.    ,  6.    ,
         3.    , 32.    ],
       [12.    ,  5.3003,  1.    ,  4.9883,  1.552 ,  1.    ,  6.    ,
         3.    , 30.    ],
       [13.    ,  6.2712,  1.    ,  5.52  ,  0.975 ,  1.    ,  5.    ,
         2.    , 30.    ],
       [14.    ,  5.9592,  1.    ,  6.666 ,  1.121 ,  2.    ,  6.    ,
         3.    , 32.    ],
       [15.    ,  5.05  ,  1.    ,  5.    ,  1.02  ,  0.    ,  5.    ,
         2.    , 46.    ],
       [16.    ,  5.6039,  1.    ,  9.52  ,  1.501 ,  0.    ,  6.    ,
         3.    , 32.    ],
       [17.    ,  8.2464,  1.5   ,  5.15  ,  1.664 ,  2.    ,  8.    ,
         4.    , 50.    ],
       [18.    ,  6.6969,  1.5   ,  6.902 ,  1.488 ,  1.5   ,  7.    ,
         3.    , 22.    ],
       [19.    ,  7.7841,  1.5   ,  7.102 ,  1.376 ,  1.    ,  6.    ,
         3.    , 17.    ],
       [20.    ,  9.0384,  1.    ,  7.8   ,  1.5   ,  1.5   ,  7.    ,
         3.    , 23.    ]])

In [161]:
kmeans(x,3,1001)

The total number of data instances is: 20
The total number of iterations necessary is: 1001
The means of each cluster are: [[18.0, 6.6969, 1.5, 6.902, 1.488, 1.5, 7.0, 3.0, 22.0], [20.0, 9.0384, 1.0, 7.8, 1.5, 1.5, 7.0, 3.0, 23.0], [6.0, 3.891, 1.0, 4.455, 0.988, 1.0, 6.0, 3.0, 56.0]]
The clusters are as follows:
Cluster with a size of 1 starts here:
[[18.0, 6.6969, 1.5, 6.902, 1.488, 1.5, 7.0, 3.0, 22.0]]
Cluster ends here.
Cluster with a size of 1 starts here:
[[20.0, 9.0384, 1.0, 7.8, 1.5, 1.5, 7.0, 3.0, 23.0]]
Cluster ends here.
Cluster with a size of 1 starts here:
[[6.0, 3.891, 1.0, 4.455, 0.988, 1.0, 6.0, 3.0, 56.0]]
Cluster ends here.

In [144]:
# Calculate new centroids based on each cluster's mean
def calc_centroids (clusters, cluster_array,k):
  new_centroids = []
  for c in range (k):
    X=0
    y=0
    count=0
  for i in range(len (clusters)):
    if clusters [i]==c:
      x+= cluster_array[i][0]
      y+=cluster_array[i][1] 
      count+=1 
      x/=count 
      y/=count
      new_centroids.append( [x,y])
  return new_centroids

In [145]:
def assign_clusters (centroids, cluster_array): 
  ## This function will assign cluster label to elements
  clusters = []
  for i in range (cluster_array.shape[0]):
    distances = [1]
    for centroid in centroids:
      distances.append(calc_distance(centroid,cluster_array[i]))
    cluster = [z for z, val in enumerate(distances) if val==min(distances) ]
    clusters.append(cluster[0])
    return clusters
def calc_distance(X1, X2) :
  return ( sum( (X1- X2) **2))**0.5

In [146]:
def Kmean (data, no_clusters,iterations):
  s = random.sample(range(data.shape [0]), no_clusters) 
  centroids=[1]
  for i in s:
    centroids.append(data[i,:])
  clusters = assign_clusters (centroids, data)
  initial_centroids=[i for i in centroids]
  for i in range (0,iterations):
    centroids = cal_centroids (clusters, data, no_clusters)
    clusters = assign_clusters (centroids, data)
  dict_centroids={}
  for i in range (no_clusters):
    dict_centroids [i]= []
  for i in range (no_clusters):
    for j in range(data.shape [0]):
      if (clusters[j]==i): 
        dict_centroids[i].append(data[j, :])
  return dict_centroids,centroids,clusters

In [131]:
x_test = test_data.iloc[ : , :9]
x_test = x_test.values
x_test

array([[24.    ,  6.0931,  1.5   ,  6.7265,  1.652 ,  1.    ,  6.    ,
         3.    , 44.    ],
       [25.    ,  8.3607,  1.5   ,  9.15  ,  1.777 ,  2.    ,  8.    ,
         4.    , 48.    ],
       [26.    ,  8.14  ,  1.    ,  8.    ,  1.504 ,  2.    ,  7.    ,
         3.    ,  3.    ],
       [27.    ,  9.1416,  1.5   ,  7.3262,  1.831 ,  1.5   ,  8.    ,
         4.    , 31.    ],
       [28.    , 12.    ,  1.5   ,  5.    ,  1.2   ,  2.    ,  6.    ,
         3.    , 30.    ]])

In [151]:
y_test = test_data.iloc[ : , 9]
y_test = y_test.values
y_test

array(['Apartment', 'House', 'House', 'Apartment', 'Apartment'],
      dtype=object)

In [155]:
y_test[1]

'House'

In [ ]:
#Calling the function print ( "Final Centroids :" )
dict_centroids, centroids, clusters= Kmean(x_test, 3,5)
print (centroids )
print ("ELEMENT WITH CLUSTER LABEL")
print (dict_centroids)

In [ ]:
X = x_test[:,0]
y = y_test[1]
fig = plt. figure()
ax = fig.add_subplot(111)
scatter = ax.scatter (X,y, c=clusters, s=50)
for i,j in centroids:
  ax.scatter (i,j,s=50,c='red' , marker= '+')
ax.set_xlabel('x')
ax.set_ylabel('y')
plt.colorbar (scatter)
fig.show ()
# Red poits are centroids